<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Regsitro Mascota</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="nombre mascota" formControlName="nombreMascota">
            <mat-error *ngIf="addressForm.controls['nombreMascota'].hasError('required')">
              nombre mascota es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre dueño" formControlName="nombreDueño">
            <mat-error *ngIf="addressForm.controls['nombreDueño'].hasError('required')">
              Nombre dueño es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="peso" formControlName="peso">
            <mat-error *ngIf="addressForm.controls['peso'].hasError('required')">
              peso es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Raza" formControlName="raza">
            <mat-error *ngIf="addressForm.controls['raza'].hasError('required')">
              Raza es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="especie" formControlName="especie">
            <mat-error *ngIf="addressForm.controls['especie'].hasError('required')">
              especie es <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
